<!DOCTYPE html>
<html>
<% if signed_in? %>
    <div class="row">
      <aside class="span4">
        <section>
        </section>
        <section>
        </section>
      </aside>
      <div class="span8">
        <h3>Courses</h3>
      </div>
    </div>
<% else %>
    <div class="center hero-unit">
      <h1>Welcome to the BestBay</h1>
      <h2>
          You are going to experience the new way of shopping!
      </h2>
      <%= link_to "Sign up now!", new_user_registration_url, class: "btn btn-large btn-primary", id: "sign_up_home" %>
    </div>
<% end %>
</html>